version: 2
jobs:
  unit_tests:
    working_directory: ~/code
    docker:
      - image: circleci/android:api-28
    environment:
      JVM_OPTS: -Xmx3200m
    steps:
      - checkout
      - restore_cache:
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}
      - run:
          name: Download Dependencies
          command: ./gradlew androidDependencies
      - save_cache:
          paths:
            - ~/.gradle
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}
      - run:
          name: Unit test home feature
          command: ./gradlew :features:home:presentation:testDebugUnitTest --no-daemon --max-workers=2 --stacktrace
      - run:
          name: Unit test news feature
          command: ./gradlew :features:news:presentation:testDebugUnitTest :features:news:appServices:test :features:news:domain:test :features:news:data:testDebugUnitTest --no-daemon --max-workers=2 --stacktrace
      - store_artifacts:
          path: app/build/reports
          destination: reports
      - store_test_results:
          path: features/news/presentation/build/test-results
  integration_tests:
    working_directory: ~/code
    docker:
      - image: circleci/android:api-28
    environment:
      JVM_OPTS: -Xmx3200m
    steps:
      - checkout
      - restore_cache:
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}
      - run:
          name: Download Dependencies
          command: ./gradlew androidDependencies
      - save_cache:
          paths:
            - ~/.gradle
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}
      - run:
          name: Integration test news feature
          command: ./gradlew :features:news:featureTest:testDebugUnitTest --no-daemon --max-workers=2 --stacktrace
      - store_artifacts:
          path: app/build/reports
          destination: reports
      - store_test_results:
          path: app/build/test-results
workflows:
  version: 2
  build_and_test:
    jobs:
      - unit_tests
      - integration_tests
